#header, #title, #mainContent, #footer{
    /*defaut all margin 0,  The browser calculates a margin*/
    margin:0 auto;
    width:760px
	}
#title {
	display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
    background:#9c6;
    /* title and main content distance 5 px */
    margin-bottom:5px;
    }
#mainContent {
    position:relative;
    height:400px;
	background:#ffa;
    }
#leftContent {
    position:absolute;  
	left:0;
    width:200px;
    height:200px;
    background:#ffa;
    }	
#centerContent {
	position:absolute;  
	margin-left:210px;
	width:100px;
	height:70px;
	top:70px;
	background:#ffa;
}
#rightContent {
    position:absolute;  
	margin-left:300px;
    width:350px;
    height:200px;
    background:#ffa;
    }
#footer {
	margin-top:5px;
    height:60px;
    background:#9c6;
    }	
	