#header, #mainContent, #footer{
    /*defaut all margin 0,  The browser calculates a margin*/
    margin:0 auto;
    width:760px
    }
#header {
    height:100px;
    background:#9c6;
    /* header and main content distance 5 px */
    margin-bottom:5px;
    }
#mainContent {
    position:relative;
    height:400px;
    }
#sidebar {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:398px;
    background:#cf9;
    }
#content1 {
    margin-left:202px;   
    width:200;
    height:398px;
    background:#ffa;
    }
#content2 {
    margin-left:404px;   
    widows:200px;
    height:398px;
    background:#ffa;
    }
#footer {
    height:60px;
    background:#9c6;
    }